# ------------------------------
# Logs
# ------------------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ------------------------------
# Node / React
# ------------------------------
node_modules/
dist/
dist-ssr/
ui/dist/
.vite/

# ------------------------------
# Environment files
# ------------------------------
.env
*.local

# ------------------------------
# Editor / OS files
# ------------------------------
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# ------------------------------
# Python / Django
# ------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Django database
db.sqlite3

# Optional
media/
staticfiles/

# ------------------------------
# Cache / coverage
# ------------------------------
*.cache
coverage/


api/firebase/serviceAccountKey.json
api/venv/
